*.log
*.pcap
*log.txt
*1.txt
*2.txt
*3.txt
__pycache__
*.p4i
*.p4info.txtpb
*results.txt
proxy.json
split-proxy.json
split-proxy-cuckoo.json
split-proxy-crc.json
split-proxy-crc_p4rt.txt
split-proxy-part2.json
split-proxy-part3.json
split-proxy-part1.json
split-proxy-varbloom.json
*p4rt.txt
.vscode
figures/*
results/*